@model LoginUser

<h2>Login</h2>
<form asp-action="Login" asp-controller="Home" method="post">
    @* Email *@
    <div class="mb-3">
        <label asp-for="LEmail"></label>
        <input asp-for="LEmail" class="form-control">
        <span asp-validation-for="LEmail" class="text-danger"></span>
    </div>
    @* Password *@
    <div class="mb-3">
        <label asp-for="LPassword"></label>
        <input asp-for="LPassword" class="form-control">
        <span asp-validation-for="LPassword" class="text-danger"></span>
    </div>
    @* Submit *@
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>