@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@model User

<div class="text-center d-flex justify-content-center mt-4">
    <div class="flex-1 m-3">
        @await Html.PartialAsync("_Register")
    </div>
    <div class="flex-1 m-3">
        @await Html.PartialAsync("_Login")
    </div>
</div>

