@model Wedding


<h1>Plan A Wedding</h1>
<form asp-action="CreateWedding" asp-controller="Home" method="post">
    @* WedderOne *@
    <div class="mb-3">
        <label asp-for="WedderOne"></label>
        <input asp-for="WedderOne" class="form-control">
        <span asp-validation-for="WedderOne" class="text-danger"></span>
    </div>
    @* WedderTwo *@
    <div class="mb-3">
        <label asp-for="WedderTwo"></label>
        <input asp-for="WedderTwo" class="form-control">
        <span asp-validation-for="WedderTwo" class="text-danger"></span>
    </div>
    @* Date *@
    <div class="mb-3">
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control">
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    @* Address *@
    <div class="mb-3">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control">
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <input type="submit" value="Post" class="btn btn-info">
</form>